



html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;  
  font-family: "Lora", sans-serif;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/palmtrees.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;

}


header{
  position: center;
  top: 0;  
  width: 100%;


}

header .navbar-brand{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
 
}

header .nav-item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
  font-size:24px;
}

header .navbar-nav a:not(:last-child){
  margin-right: 30px;
}

header .nav-item a:hover{
  color: #0038d1;
}

li.nav-item {
  list-style: none;
}

  
  
  

    

@media screen and (max-width: 480px) {
  img {
       width: 280px;
       
  }
}

@media screen and (max-width: 480px) {
  .languageicons{
       width: 280px;
       
  }
}




.welcome-container h1 {
  color: #FFF;
}



  



.hero {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
 /* Text styles */
  text-align: center;
   
}



.languageicons {
  z-index: 888;  
  right: 30px;
  display: flex;
  flex-direction: row;
  transition: 0.5s ease;  
  color: #fff; 
  align-items: center; 
  margin: 0 0.5rem;
  max-width:100%;

  animation: backInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
 
  
}


.container {
  margin-bottom: 100px;
}

 
.section-title {
	position: relative
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
  
}
.intro .text-center {
  color: #ccc;
  
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #fff;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.mb-100{
    margin-bottom:100px;
}
.services {
background-color: lightgray;
}
.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px 30px 20px;
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(34, 34, 34, 0.5));
   
}

.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #a14900;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	background-color:  #a14900;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa {
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	line-height: 60px;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}

.single-service i{
  color: #ddd;
}

.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
  color: #eef4f7;
}
.single-service p {
	font-size: 16px;
	line-height: 2.0;
  color: #eef4f7;
  font-weight: 500;
}

.text-center{
  color: #dbdada;
}







/*footer*/

.footer-bottom {
  padding: 15px 0 17px 0;
   background: rgb(0.0,0.0,0.0,0.0);
    text-align: left; 
    color: #aaa;
    height: 100px; 
}

.footer-social { 
 padding-top: 3px; 
 text-align: right; 
 align-items: center;
 
}

.footer-social a {  
  margin-left: 20px; 
  color: rgb(255, 255, 255);
   border: 0;
  
  }
.footer-social a:hover, .footer-social a:focus { 
 color: #7b7cd3;
  border: 0;
  }


.footer-copyright {
padding-top: 5px; 
color: white;

}
.footer-copyright a { 
color: rgb(255, 255, 255);
border: 0; 
}
.footer-copyright a:hover, .footer-copyright a:focus {     
 color: #aaa; 
 border: 0;
}



/*features*/

.features-boxed {
  color:#313437;
  
  
}

.box i{
  color:white;
}



.features-boxed p {
  color:#ffffff;
  font-weight: 500;
}

h2 {
  font-weight: bold;
  font-size: 2.0rem;
  text-decoration: none;
  color: white;
  
}


@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.features-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
  margin-bottom: 100px;;
}

.features-boxed .intro p {
  margin-bottom:0;
}

.features-boxed .features {
  padding:50px 0;
}

.features-boxed .item {
  text-align:center;
}

.features-boxed .item .box {
  text-align:center;
  padding:30px;
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(17, 17, 17, 0.5));
  margin-bottom:30px;
  opacity: 0.6;
}



.features-boxed .item .name {
  font-weight:bold;
  font-size:18px;
  margin-bottom:8px;
  margin-top:0;
  color:white;
}

.features-boxed .item .description {
  font-size:20px;
  margin-top:15px;
  margin-bottom:20px;
}
.intro{
  text-align: center;
}
.intro h2 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block
  
  
}
.intro h2:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.intro h2:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #fff;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;


}


/*concept works*/
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');


.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
  background-color: #000000;
  
}

.card-desc h3 {
	color: #ffffff;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card {
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;

}


.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* End card section */
.address i {
  color:white;
}

.address i:hover {
  color:blue;
}



.aboutmesection p{
  font-size: 24px;
  line-height: 50px;
  text-shadow: 2px 2px 5px black;
}



.under-logo{
  font-size: 32px;
  color: white;
  font-style: italic;
}


.calltoaction{
  color:white;
}